In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data1=[10,20,30,40,50]
data2=(1,2,3,4,5)
data3={'aa':11,'bb':22,'cc':33,'dd':44}

In [7]:
sr=pd.Series(data1)
sr

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
sr1=pd.Series(data2)
sr1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
sr2=pd.Series(data3)
sr2

aa    11
bb    22
cc    33
dd    44
dtype: int64

In [8]:
sr=pd.Series(data1,index=['a','b','c','d','e'])
sr

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [9]:
sr=pd.Series(data1,index=['a','b','c','d','e'],dtype=np.int32)
sr

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [10]:
sr=pd.Series(data1,index=['a','b','c','d','e'],dtype=np.float32)
sr

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
dtype: float32

In [12]:
sr=pd.Series(data1,index=['a','b','c','d','e'],dtype=np.str)
sr

C:\Users\whs38\AppData\Local\Temp/ipykernel_14668/2621763891.py:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  sr=pd.Series(data1,index=['a','b','c','d','e'],dtype=np.str)

a    10
b    20
c    30
d    40
e    50
dtype: object

In [13]:
sr=pd.Series(data1,index=['a','b','c','d','e'],name='kor')
sr

a    10
b    20
c    30
d    40
e    50
Name: kor, dtype: int64

In [14]:
sr['a']

10