In [1]:
import pandas as pd
import numpy as np

In [3]:
d1=[[1,2],[3,4],[5,6]]
d2=[(1,2),(3,4),(5,6)]
d3=[{'kor':1, 'eng':2},{'kor':3,'eng':4},{'kor':5,'eng':6}]
d4={'kor':[1,3,5],'eng':[2,4,6]}

In [4]:
d=[1,2,3,4,5]
d_1=[[1,2,3,4,5]]

In [13]:
df1=pd.DataFrame(d1,index=['a','b','c'],columns=['kor','eng'])
df1

   kor  eng
a    1    2
b    3    4
c    5    6

In [9]:
df2=pd.DataFrame(d2)
df2

   0  1
0  1  2
1  3  4
2  5  6

In [10]:
df3=pd.DataFrame(d3)
df3

   kor  eng
0    1    2
1    3    4
2    5    6

In [11]:
df4=pd.DataFrame(d4)
df4

   kor  eng
0    1    2
1    3    4
2    5    6

In [14]:
data={'eng':[10,30,50,70],'kor':[20,40,60,80],'math':[90,50,20,70]}
df=pd.DataFrame(data,index=['a','b','c','d',])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [15]:
df.ndim #데이터의 차원

2

In [16]:
df.shape #몇행,몇열

(4, 3)

In [17]:
df.size #행 X 열

12

In [18]:
len(df)#행의 갯수

4

In [19]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]], dtype=int64)

In [21]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [22]:
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [25]:
df.T#행렬변환

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70